[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
autopep8 = "*"
pylint = "*"
djangorestframework = "*"
django-cors-headers = "*"
pylint-django = "*"
gunicorn = "*"
django-on-heroku = "*"

[dev-packages]

[requires]
python_version = "3.9"
